@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

.App {
  max-width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: "Rareway", san-serif;

}

#quote-box {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  font-size: 1.6em;
  font-weight: 500;
  border-radius: 5px;
  clear: both;
  animation: myEffect .5s;
}

#quote-author {
  text-align: right;
  margin: 20px 0;
  clear: both;
}

#links {
  display: flex;
  justify-content: space-between;
}

i {
  font-size: 1em;
  padding: 3px;
}

.button {
  padding: 10px;
  font-size: .8em;
  color: #fff;
  border-radius: 7px;
  border: none;
  outline: none;
}

@media screen and (max-width: 900px){
  .App {
    width: 70%;
  }
}

@media screen and (max-width: 600px){
  body {
    font-size: .7em;
  }

  .App {
    width: 90%;
  }
}